/* ------------------------------------------------------ */
/* colors */
/* ------------------------------------------------------ */

.color-green { color: #00e645; }

.color-white { color: #fff; }

/* ------------------------------------------------------ */
/* custom jumbotron */
/* ------------------------------------------------------ */

.jumbotron-custom {
	background-image: url("../images/congruent.png");
	color: #fff;
	height: 100vh;
	width: 100%;
	position: relative;
	background-attachment: fixed;
}

.jumbotron > .container-fluid > h1 { 
	font-size: 700%; 
	font-family: 'Russo One', sans-serif;
	text-shadow: 3px 2px black;
}

#gator-pic {
	height: 50%;
	width: 40%;
	filter: drop-shadow(5px 5px 5px #222);
}

/* ------------------------------------------------------ */
/* custom container */
/* ------------------------------------------------------ */

.container-custom { 
	margin: 0 5%; 
	width: auto;
}

/* ------------------------------------------------------ */
/* custom form */
/* ------------------------------------------------------ */

.form-custom{ margin: 10px 25px; }

/* ------------------------------------------------------ */
/* submit button */
/* ------------------------------------------------------ */

.btn-custom {
	background-color: #00e645;
	color: #fff;
	border-color: #00e645;
}

.btn-custom:hover {
	background-color: #fff;
	color: #00e645;
	border-color: : #fff;
}

#submit { animation-delay: 5s; }

/* ------------------------------------------------------ */
/* weather api */
/* ------------------------------------------------------ */

.weather-size { font-size: 200%; }

/* ------------------------------------------------------ */
/* custom panel */
/* ------------------------------------------------------ */

.panel-custom { border-color: #333333 }

.panel-primary > .panel-heading { 
	background-image: url('../images/congruent.png'); 
	background-attachment: fixed;
}

/* ------------------------------------------------------ */
/* clearfix */
/* ------------------------------------------------------ */

.clearfix {
	overflow: auto;
}

/* ------------------------------------------------------ */
/* custom div holder */
/* ------------------------------------------------------ */

#div-holder { 
	position: absolute; 
	bottom: 5%;
	left: 15%;
	right: 15%;
}

/* ------------------------------------------------------ */
/* custom forms */
/* ------------------------------------------------------ */

.form-control:focus {
	border-color: #00e645;
	background-color: #fff;
	outline: none;
}

/* ------------------------------------------------------ */
/* custom footer */
/* ------------------------------------------------------ */

.custom-footer {
	background-image: url("../images/congruent.png");
	background-attachment: fixed;
	height: 200px;
	padding: 60px 0;
}

.footer-size { 
	font-size: 150%;
	border-bottom: 1px solid #00e645;
	margin: 0 0 10px 0;
}

.custom-icon { font-size: 200%; }

.list-inlined { 
	display: inline-block; 
	margin: 0 10px;
}


/* ------------------------------------------------------ */
/* media queries */
/* ------------------------------------------------------ */

@media only screen and (max-width: 560px) {
    .jumbotron > .container-fluid > h1 { 
		font-size: 500%; 
	}

	.container { 
		margin: 0; 
		width: 100%;
	}
}

@media only screen and (max-width: 992px) {
	.panel-body {
		text-align: center;
	}
}

@media only screen and (max-width: 1068px) {
	.custom-icon {
		font-size: 150%;
	}
}

